<div class="wrapper">

  <nav class="navbar">

    <div class="navbar-section">
      <span>Ilość dostępnego miejsca: {{availableSpace}}</span>
      <span>Ilość maksymalnego miejsca: {{maxSpace}}</span>
    </div>

    <div class="navbar-section">

      <button class='manage-button' (click)="addResource()">
        <span>Dodaj zasób</span>
        <img src="../../../../assets/img/plus-square.svg" alt="Add Resource">
      </button>

      <button class="manage-button" (click)="removeResource()">
        <span>Usuń zasób</span>
        <img src="../../../../assets/img/dash-square.svg" alt="Remove Resource">

      </button>

    </div>

  </nav>

  <div class="content-resources">

    <div class="content-bar">
      <span>Sortuj</span>
      <span>Filtruj</span>
    </div>

    <div class="item-box" *ngFor="let item of items">
      <strong>{{item.name}}</strong>
    </div>

  </div>

</div>

<div class="error-window" *ngIf="errorWindow">
  <div class="error-window-message-box">
    <span>Nie można dodać zasobu! Przekroczono limit!</span>
  </div>
</div>  
