<div class="footer-menu">
  <div class="footer-list">
    <div class="footer-list-item">
      <a [routerLink]='["/home"]'>Strona główna</a>
    </div>
    <div class="footer-list-item">
      <a>Polityka Prywatności</a>
    </div>
    <div class="footer-list-item">
      <a>Regulamin</a>
    </div>
    <div class="footer-list-item">
      
    </div>
  </div>
  <div class="footer-list">
    <div class="footer-list-item">5</div>
    <div class="footer-list-item">6</div>
    <div class="footer-list-item">7</div>
    <div class="footer-list-item">8</div>
  </div>
</div>