<div class="wrapper">

  <div class="form-box">
    <h2>Zaloguj się</h2>
    <form action="" class='form' (ngSubmit)='onSubmit()'>

      <span class='inputs'>
        <label for="email">Email: </label>
        <input
        type='email'
        name='email'
        id='email'
        placeholder='Podaj email'
        [(ngModel)]="email"
        
        required
        >
      </span>

      <div class='error-message' *ngIf="invalidEmail">
        {{ invalidEmailMessage }}
      </div>

      <span  class='inputs'>
        <label for="password">Hasło: </label>
        <input
        [type]="passwordType"
        name='password'
        id='password'
        placeholder='Podaj hasło'
        [(ngModel)]="password"
        required
        >
        <img
        [src]='passwordSrc'
        [alt]='passwordAlt'
        [title]="passwordTitle"
        (click)="tooglePasswordsAttributes()"
        >
      </span>
  
      <div  class='error-message' *ngIf="invalidPassword">
        {{ invalidPasswordMessage }}
      </div>

      <div  class='success-message' *ngIf="validData">
        <p>Email i hasło są poprawne.</p>
      </div>

      <input type="submit" value="Zaloguj się">

    </form>
    <button (click)="changeForm()">Nie masz konta? Zarejestruj się</button>

  </div>

</div>
