.settings-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #857777;
  padding: 1rem;
}

.settings-section {
  width: 100%;
  margin: 2rem 0;

  h2 {
    margin: 1rem 0;
    text-align: center;
    letter-spacing: 2.345px;
    font-weight: 700;
  }

  .group {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }

    p {
      opacity: 0.8;
      font-style: italic;
      border-bottom: 1px solid #21212145;
      padding: 0.5rem 0;
    }

    strong {
      justify-self: start;
    }

    .change-button, .delete-account {
      width: auto;
      min-width: 80px;
      border: none;
      background-color: #00f100;
      padding: 0.5rem;
      cursor: pointer;
      justify-self: start;

      @media (max-width: 768px) {
        justify-self: center;
      }
    }

    .delete-account {
      background-color: #f10000;
      color: white;
    }
  }
}

.change-forms {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.45);

  .username-form {
    width: 90%;
    max-width: 300px;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input[type='text'] {
        width: 100%;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        padding: 0.3rem;
        background-color: inherit;
      }

      button {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 14px;
        border: none;
        cursor: pointer;
      }

      .accept {
        background-color: #00f100;
      }

      .cancel {
        background-color: #f10000;
        color: white;
      }
    }
  }
}