<div class="settings-wrapper">
  <section class="settings-section">

    <h2>Publiczne informacje</h2>

    <span class="group">
      <p>Nawa użytkownika: </p><strong>{{username}} </strong> 
      <button class='change-button' (click)="toogleUsernameForm()">Zmień</button>
    </span>

    <span class="group">
      <p>Data utworzenia profilu: </p><strong>{{createdAt}}</strong>
    </span>

    <span class="group"></span>

  </section>
  

  <section class="settings-section">

    <h2>Prywatne informacje</h2>

    <span class="group">
      <p>Email: </p> <strong>{{email}}</strong>
    </span>

    <span class="group">
      <p>Hasło: </p> <strong> {{password}} </strong>
      <button class='change-button' (click)="tooglePasswordForm()">Zmień</button>
    </span>

    

    <span class="group"></span>

  </section>

  <section class="settings-section">

    <h2>Usuń konto</h2>
    
    <span class="group">
      <button class="delete-account" (click)="toogleDeleteAccount()">Usuń konto</button>
    </span>

    <span class="group"></span>
  </section>
</div>

<div class='modal-centered' *ngIf="usernameForm">
  <form class="modal-box">
    <div class="data-group">
      <span class="inputs">
        <label for="new-username">Nowa nazwa:</label>
        <input 
        type="text"
        name='new-username'
        id='new-username'
        placeholder='Nowa nazwa max. 12 znaków'
        maxlength='12'
        [(ngModel)]='newUsername'
        >
      </span>
    </div>
    <div class="data-group">
      <button class='accept' (click)="changeUsername(newUsername)">Zatwierdź</button>
      <button class='cancel' (click)="toogleUsernameForm()">Anuluj</button>
    </div>

    <div class="data-group">
      {{serverMessage}}
    </div>
  </form>
</div>

<div class='modal-centered' *ngIf="passwordForm">
  <form class="modal-box">
    <div class="data-group">
      <span class="inputs">
        <label for="new-password">Nowe hasło:</label>
        <input 
        type="text"
        name='new-password'
        id='new-password'
        placeholder='Nowe hasło'
        [(ngModel)]='newPassword'
        >
      </span>
    </div>
    <div class="data-group">
      <button class='accept' (click)="changePassword(newPassword)">Zatwierdź</button>
      <button class='cancel' (click)="tooglePasswordForm()">Anuluj</button>
    </div>

    <div class="data-group">
      {{serverMessage}}
    </div>
  </form>
</div>

<div class="modal-centered" *ngIf="deleteAccount">
  <div class="modal-box">
    <div class="data-group">
      <button class='accept' (click)="funcDeleteAccount()">Zatwierdź</button>
      <button class='cancel' (click)="toogleDeleteAccount()">Anuluj</button>
    </div>
    <i>Uwaga! Ta operacja jest nieodwracalna</i>
    <div class="data-group">
      {{serverMessage}}
    </div>
  </div>
</div>
