.nav {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: white;
  font-weight: 560;
  background: #212121;

}
.hide-nav {
  width: 50px;
}
.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-list-item {
  width: 100%;
  text-align: justify;
  padding: 1em 0;

  
  img {
    width: 1.41em;
    margin-right: 0.4rem;
    filter:  invert(100%) brightness(100%)
  }
  
  a{
    cursor: pointer;

    &:hover {
      color: #E74C3C;
    }
  }
  p {
    display: none;
  }
}
.mobile-logo{
  display: none;
}
.toogle-nav {
  text-align-last: left;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .show-nav {
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  .mobile-logo{
    display: block;
  }

  .hide-nav {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
  }

  .nav-list-item {
    text-align: center;

    p{
      display: block;
      font-size: 0.8em;
      letter-spacing: .132em;
    }
  }
  .content {
    display: none;
  }

  .toogle-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}