<div class="nav"  [ngClass]="{'show-nav': isActive, 'hide-nav': !isActive}">
  <div class="nav-list">
    <div class="nav-list-item toogle-nav" >
      <img src="../../../../assets/img/list.svg" alt="Show / hide navigation" (click)="toogleNavbar()">
    </div>
  </div>
  <div class="nav-list" *ngIf='isActive'>
    <div class="nav-list-item">
      <img src="../../../../assets/img/house.svg" alt="Home">
      <a [routerLink]='["/home"]'>Strona główna</a>
      <p class="mobile-desc">Udaj się na stronę główną</p>
    </div>
    <div class="nav-list-item">
      <img src="../../../../assets/img/plus-square.svg" alt="">
      <a [routerLink]='["/home/create-new-resource"]'>Utwórz zasób</a>
      <p class="mobile-desc">Utwórz zasób</p>
    </div>
    <div class="nav-list-item">
      <img src="../../../../assets/img/bar-chart.svg" alt="Resources">
      <a [routerLink]='["/home/resources"]'>Zasoby</a>
      <p class="mobile-desc">Wyświetl zasoby</p>
    </div>
    <div class="nav-list-item">
      <img src="../../../../assets/img/gear.svg" alt="Settings">
      <a [routerLink]='["/settings"]'>Ustawienia</a>
      <p class="mobile-desc">Przejdź do ustawień konta</p>
    </div>
    <div class="nav-list-item" *ngIf="isAuthorized">
      <img src="../../../../assets/img/person-vcard-fill.svg" alt="Admin Panel">
      <a [routerLink]='["/admin"]'>Admin Panel</a>
      <p class='mobile-desc'>Przedź do panelu admina</p>
    </div>
    <div class="nav-list-item">
      <img src="../../../../assets/img/box-arrow-left.svg" alt="Log out">
      <a (click)="logOut()">Wyloguj się</a>
      <p class="mobile-desc">Wyloguj się z serwisu</p>
    </div>
  </div>
</div>

  <!-- <div class="nav-list-item">
    <img src="" alt="">
    <a [routerLink]='["/"]'></a>
    <p class="mobile-desc"></p>
  </div> -->

