<div class="signup-wrapper">

  <div class="signup-form">
    <h2>Zarejestruj się</h2>
    <form action="" class='form' (ngSubmit)='onSubmit()'>

    <span class='inputs'>
      <label for="signup-email">Email: </label>
      <input
      type='email'
      name='signup-email'
      id='signup-email'
      placeholder='Podaj email'
      [(ngModel)]='email'
      required
      >
    </span>

    <span  class='inputs'>
      <label for="signup-password">Hasło: </label>
      <input
      [type]="passwordType"
      name='signup-password'
      id='signup-password'
      placeholder='Podaj hasło'
      [(ngModel)]='password'
      required
      >
      <img
      [src]='passwordSrc'
      [alt]='passwordAlt'
      [title]="passwordTitle"
      (click)="tooglePasswordsAttributes()"
      >
    </span>

    <span  class='checkbox'>
      <input
      type='checkbox'
      id='accept-rules'
      name='accept-rules'
      [(ngModel)]='acceptedRules'
      required
      >
      <label for="accept-rules">Akceptuje warunki użytkowania i regulamin </label>
    </span>

    <input type="submit" value="Zarejestruj się">

    </form>

    <button (click)="changeForm()">Masz już konto? Zaloguj się</button>

  </div>
  
</div>
