<div class="wrapper">

  <div class="form-box">
    <h2>Zarejestruj się</h2>
    <form action="" class='form' (ngSubmit)='onSubmit()'>

    <span class='inputs'>
      <label for="email">Email: </label>
      <input
      type='email'
      name='email'
      id='email'
      placeholder='Podaj email'
      [(ngModel)]='email'
      required
      >
    </span>
    
    <div class='error-message' *ngIf="invalidEmailMessage">
      {{errorEmailMessage}}
    </div>
    
    <span  class='inputs'>
      <label for="password">Hasło: </label>
      <input
      [type]="passwordType"
      name='password'
      id='password'
      placeholder='Podaj hasło'
      [(ngModel)]='password'
      required
      >
      <img
      [src]='passwordSrc'
      [alt]='passwordAlt'
      [title]="passwordTitle"
      (click)="tooglePasswordsAttributes()"
      >
    </span>

    <span  class='checkbox'>
      <input
      type='checkbox'
      id='accept-rules'
      name='accept-rules'
      [(ngModel)]='acceptedRules'
      required
      >
      <label for="accept-rules">Akceptuje warunki użytkowania i regulamin </label>
    </span>

    <div class='error-message' *ngIf="notAcceptedRules">
      <p>Nie zaakceptowano warunków użytkowania i regulaminu</p>
    </div>

    <div class='error-message' *ngIf="invalidPasswordMessage">
      <p>Twoje hasło musi zawierać: 
        <ul>
          <li>Przyjnajmniej jedną małą literę</li>
          <li>Przyjnajmniej jedną dużą literę</li>
          <li>Min. 8 liter</li>
          <li>Przyjnajmniej jedną liczbę</li>
          <li>Przynajmniej jeden znak specjalny</li>
          <li>Nie może zawierać niedozwolonych znaków</li>
        </ul>
      <p>
    </div>
    

    <div class='success-message' *ngIf="validDataMessage">
      <p>Email i hasło są poprawne.</p>
    </div>

    <input type="submit" value="Zarejestruj się">

    </form>

    <button (click)="changeForm()">Masz już konto? Zaloguj się</button>

  </div>
  
</div>
